NEXT_PUBLIC_SANITY_PROJECT_ID=480qx32k
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
NEXT_PUBLIC_SANITY_STUDIO_URL=https://moshe-adri.sanity.studio
NEXT_PUBLIC_SANITY_VISUAL_EDITING_ENABLED=true

SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=

LEAD_WEBHOOK_URL=
